.element__title {
  margin: 0;
  padding: 0;
  max-width: 190px;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 23px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}